<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debit Card</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <section>
        <div class="card">
            <div class="face front">
                <h3 class="debit">Debit Card</h3>
                <h3 class="bank"> <span style="color: #FFC0CB;">T</span>riam <span style="color: #FFC0CB;">U</span>dom</h3>
                <img src="./logo.png" class="chip">
                <h3 class="number">
                    <%= address %>
                </h3>
                <h5 class="valid"><span>Valid<br>thru</span><span>10/23</span></h5>
                <h5 class="cardHolder">Chaiyapat Intasame</h5>
            </div>
            <div class="face back">
                <div class="blackbar"></div>
                <div class="ccvtext">
                    <h5>Autorized Signature-not valid unless signed</h5>
                    <div class="whiteBar"></div>
                    <div class="pinkStrip"></div>
                    <div class="ccv" contenteditable="true">
                        <%= ccv %>
                    </div>
                </div>
                <p class="text">
                    <span class="publickey"><%= public %></span> <br>
                    <span class="privatekey"><%= private %></span>
                </p>
            </div>
        </div>
    </section>
</body>

</html>